<template>
  <div id="popup">
    <nav class="navbar">
      <div class="navbar-title">Edit User</div>
      <div class="navbar-close">
        <button v-on:click="hidePopup">X</button>
      </div>
    </nav>
    <div class="popup-form">
      <span class="form">
        <p>Name</p>
        <input type="text" id="form-name" :value="user.name" @keypress.enter="saveChanges"/>
      </span>
      <span class="form">
        <p>Email</p>
        <input type="text" id="form-email" :value="user.email" @keypress.enter="saveChanges"/>
      </span>
      <span class="form">
        <p>Phone</p>
        <input type="text" id="form-phone" :value="user.phone" @keypress.enter="saveChanges"/>
      </span>
      <span class="form">
        <p>Website</p>
        <input type="text" id="form-website" :value="user.website" @keypress.enter="saveChanges"/>
      </span>
      <span id="form-btns">
        <button id="cancel-btn" v-on:click="hidePopup">Cancel</button>
        <button id="ok-btn" @click="saveChanges">OK</button>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: "userEditPopup",
  props: {
    user: {
      type: Object, default: () => {
        return ''
      },
    }
  },
  methods: {
    hidePopup() {
      // emit sends an array containing objects and can be accessed easily by doing nameofparameter.nameofobjproperty
      this.$emit("popupClosedEmmition", [{boolfalse: false}]);
    },
    saveChanges() {
      this.user.name = document.querySelector("#form-name").value;
      this.user.email = document.querySelector("#form-email").value;
      this.user.phone = document.querySelector("#form-phone").value;
      this.user.website = document.querySelector("#form-website").value;
      this.hidePopup();
    },
  },
};
</script>

<style scoped>
.navbar {
  padding: 10px;
  font-size: 24px;
}

.navbar-title {
}

#popup {
  height: 400px;
  width: 850px;
  background-color: gainsboro;
  position: fixed;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>