<template>
  <div>
    <div v-if="loadingFinished">
      <h1>Vue - Users App</h1>
      <userProfile
        class="userProfile"
        v-for="user in usersArray"
        v-bind:user="user"
        :key="user.id"
      >
        <!-- <h1 slot="test"> this is a test slot </h1> -->
      </userProfile>
      <iframe width="1080" height="760" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0"></iframe>
    </div>
    <div v-else>
      <loadingAnimation></loadingAnimation>
    </div>
  </div>
</template>

<script>
import userProfile from "./components/userProfile.vue";
import loadingAnimation from "./components/loadingAnimation.vue";
import axios from "axios";

export default {
  name: "App",
  components: {
    userProfile,
    loadingAnimation,
  },
  data() {
    return { usersArray: [], loadingFinished: false };
    // return { usersArray: [] }
  },
  methods: {
    getUsersAPI() {
      // execute api request for users
      axios
        .get("https://jsonplaceholder.typicode.com/users")
        .then((response) => {
          for (let i = 0; i < response.data.length; i++) {
            this.usersArray.push(response.data[i]);
            // this.usersMap.set(i,response.data[i])
          }
         
         this.usersArray = response.data

        })
        .finally(() => {
          this.loadingFinished = true;
        });
    },
  },
  created() {
    this.getUsersAPI();
    //   this.getUsersAvatar();
  },
};
</script>

<style scoped>
.userProfile {
  text-align: center;
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}
</style>